/.phpunit.cache
/node_modules
/public/hot
/public/storage/app/**
!public/storage/app/public/kid-avatars/**
!public/storage/app/public/points-store-items/**
!public/storage/app/public/star-rewards/**
!public/storage/app/public/task-images/**
/storage/logs/
/storage/logs/**
/storage/framework/
/storage/framework/**
/storage/frameworks/
/storage/frameworks/**
/storage/app/livewire-tmp/
/storage/app/livewire-tmp/**
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# macOS Finder metadata
.DS_Store
**/.DS_Store
